{$SITE_DOMAIN}, www.{$SITE_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	@www host www.{$SITE_DOMAIN}
	redir @www https://{$SITE_DOMAIN}{uri} permanent

	reverse_proxy app:3000
}